@model List<Animal>

@{
    ViewBag.Title = "Animals list";
}

@if (Model != null && Model.Count != 0)
{
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>TypeAnimal</th>
            <th>Breed</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Name</td>
                <td>@a.Age</td>
                <td>@a.TypeAnimal</td>
                <td>@a.Breed</td>
                <td>@a.Price</td>
                <td>
                    <a asp-action="Details" asp-controller="Animal" asp-route-animalId="@a.Id" class="btn btn-outline-dark">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h4 class="text-center">Unfortunately, at the moment, pets have not added yet :с</h4>
}